
/* CORES PADRÕPES DO SITE 

rgb:
17,98,99
42,236,239
29,161,163
31,173,176
24,135,137

 */

main{
  display: flex;
  align-items: center;
}



.form{ 
  background-size: cover;
    position: relative;
    margin-top: 80px;
    margin-right: 100px;
    margin-left: 300px
        
}

.input-seach{
  width: 100%;
}

.aside-left{
  background-size: cover;
  position: relative;
  left: 0;
}

.aside-right{
  background-size: cover;
  position: absolute;
  right: 0;
}


header{
text-align: center;

}

.topo{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding-top: 40px;
    background-image: url(imagem/imagemTopo/img11(2).jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;   
    text-shadow: 3px 3px 3px black;

    
}

.navImg{
    height: 150px;
    width: 150px;
}

nav{
    text-align: center;
    background-color: rgba(24,135,137,1);

}

.img-link{
  height: 190px;
  width: 230px;
}

nav a{
    text-decoration: none;
    background-color: rgba(29,161,163,1);
    color: white;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    
}
nav a:hover{
    background-color: white;
    color: rgba(29,161,163,1);
    border: 1px solid rgba(17,166,153,1);
}
#tituloPrincipal {
    background-color: rgba(17,166,156,1);
    margin: 0px;
    font-size: 50px;
    text-align: center;
    color: white;
}

#descicao {
    background-color: 
}
